#fileWindow {
  width: 705px;
  height: 400px;
  padding-inline: 20px;
  border-radius: 10px;
  background-color: #27261d;
}
#file_scroll {
  position: relative;
  left: 0;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 30px;
}
/* ::-webkit-scrollbar {
  width: 30px;
  height: 30px;
}
::-webkit-scrollbar-track {
  background: #a0a0a0;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #505050;
  border: 1px solid #a0a0a0;
  border-radius: 15px;
} */
.tbl-grid {
  width: 645px;
  border: none;
  border-collapse: collapse;
  border-spacing: 2px;
  color: white;
  font-weight: 400;
}
.tbl-grid th {
  font-weight: 600;
  line-height: 1rem;
  background: rgba(109, 176, 243, 0.4);
  box-shadow: 0 1px 0 0 rgb(109 176 243 /20%) inset 0 1px 0 0 #6db0f3;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tbl-grid th,
.tbl-grid td {
  font-size: 0.8rem;
  padding: 0.4rem;
  text-align: center;
  border-left: 1px solid rgba(110, 175, 245, 0.2);
  border-bottom: 1px solid rgba(110, 175, 245, 0.2);
}

.tbl-grid td {
  text-align: center;
  vertical-align: middle;
}

.tbl-grid tr td:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  > img {
    width: 70px;
  }
}

.tbl-grid tbody tr:hover td {
  color: white;
  background-color: #0f5499 !important;
}
.tbl-grid tbody td button {
  cursor: pointer;
  width: 3.667rem;
  height: 1rem;
  font-size: 0.5rem;
  font-weight: 500;
  border: none;
  border-radius: 0.4rem;
  background-color: #505050;
  margin-left: 0.8rem;
  color: white;
}

#message {
  margin-left: 20px;
  font-size: 12px;
}

.winBtnBox {
  display: flex;
  padding-right: 25px;
}

.winButton {
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.3),
    inset 2px 2px 4px rgba(255, 255, 255, 0.4);
  background-color: #303030;
  color: #afadad;
  text-align: center;
  line-height: 30px;
  border-radius: 7px;
  padding-top: 3px;
  cursor: pointer;
  &:nth-of-type(1) {
    width: 150px;
    margin-right: 20px;
  }

  &:nth-of-type(2) {
    width: 100px;
  }

  &:nth-of-type(3) {
    margin-left: auto;
    width: 100px;
  }
}

div.down_btn {
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.3),
    inset 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: #ffff7f;
}

div.up_btn {
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.3),
    inset 2px 2px 4px rgba(255, 255, 255, 0.4);
  color: #323232;
}

#settingWindow {
  box-sizing: border-box;
  width: 705px;
  height: 400px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #27261d;
  position: relative;
}

#settingWindow > h2 {
  font-weight: bold;
  color: white;
  margin-bottom: 84px;
}

.settingMenuBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#settingWindow #ok_btn2 {
  width: 100px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

#btnTempRange {
  position: relative;
}

#max_btn {
  position: absolute;
  right: 120px;
  top: 20px;
}
#min_btn {
  position: absolute;
  right: 120px;
  top: 60px;
}

div.settingMenu {
  display: inline-block;
  border-radius: 10px;
  background-color: #6e6e6e;
  width: 200px;
  height: 140px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  padding-top: 10px;
}

.modalThumbnail {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  top: 0;
}
