@import "./reset.css";
@import "./css/subPage.css";

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 100px auto;
  width: 800px;
  height: 480px;
  background: url(../public/images/화면설계\ 샘플이미지.png) no-repeat center /
    cover;
}

.container > .main {
  position: relative;
  width: 100%;
  height: 100%;
}

.systemPanel {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: absolute;
  z-index: 9;
  padding-inline: 15px;
  > img:nth-of-type(1) {
    width: 40px;
    cursor: pointer;
    margin-right: 60px;
  }
  > img:nth-of-type(2) {
    width: 100px;
    user-select: none;
  }
  .clock {
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 5px;
  }
}

.popupGuide {
  position: absolute;
  top: 63px;
  border-radius: 8px;
  right: 110px;
  background-color: #424242af;
  padding: 15px;
  > p {
    line-height: 30px;
    margin-left: 30px;
    position: relative;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
    &:nth-of-type(1)::after {
      content: "";
      width: 20px;
      height: 25px;
      background: url(../public/images/btn상하.png) no-repeat center / contain;
      display: block;
      position: absolute;
      left: -30px;
      top: 0;
    }
    &:nth-of-type(2)::after {
      content: "";
      width: 25px;
      height: 30px;
      background: url(../public/images/btn좌우.png) no-repeat center / contain;
      display: block;
      position: absolute;
      left: -32px;
      top: 0;
    }
  }
  span {
    font-size: 11px;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }
  .count10 {
    display: inline-block;
    width: 15px;
    text-align: center;
  }
}

.WarningOutlineBox {
  width: 696px;
  height: 421px;
  position: absolute;
  background-color: rgb(255, 0, 0);
  top: 59px;
  box-shadow: inset 0px 0px 8px rgb(255, 0, 0);
  background-color: transparent;
}

.currentMode {
  position: absolute;
  left: 30px;
  bottom: 5px;
  > img {
    width: 43px;
  }
}

.scope {
  width: 71px;
  height: 71px;
  background-color: transparent;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 44%;
  background: url(../public/images/scope6.png) no-repeat center / cover;
  top: 53%;
}

.gauge {
  position: absolute;
  padding: 1px;
  left: 44%;
  top: 90%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  strong {
    font-size: 50px;
    position: absolute;
    left: 52%;
    top: 49%;
    letter-spacing: 3px;
    transform: translate(-50%, -50%);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;

    > span {
      font-size: 14px;
      color: #ffdd33;
      letter-spacing: normal;
    }
  }
  b {
    position: absolute;
    bottom: 83px;
    left: 50px;
    font-size: 12px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
    color: #ffffff;
    > span {
      color: #ffdd33;
      font-size: 8px;
    }
  }
}

.neon4 {
  font-size: 60px;
  font-weight: 700;
  color: #fefefe;
  animation: neon-flicker4 1s infinite alternate;
}

@keyframes neon-flicker4 {
  0% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.05),
      0 0 4px rgba(255, 255, 255, 0.08), 0 0 6px rgba(255, 255, 255, 0.1);
  }
  50% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.12),
      0 0 8px rgba(255, 255, 255, 0.15), 0 0 12px rgba(255, 255, 255, 0.18);
  }
  100% {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.05),
      0 0 5px rgba(255, 255, 255, 0.07), 0 0 9px rgba(255, 255, 255, 0.1);
  }
}

.valueList {
  position: absolute;
  left: 20px;
  top: 75px;

  .item {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 16px;
    /* 텍스트 색상: 흰색 외곽선 색상: 검정 */
    color: #ffffff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.9), 1px -1px 0 rgba(0, 0, 0, 0.9),
      -1px 1px 0 rgba(0, 0, 0, 0.9), 2px 2px 0 rgba(0, 0, 0, 0.9);
    /* 텍스트 색상: 검정 외곽선 색상: 흰색 */
    /* color: #000000;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
      2px 2px 0 white; */

    p {
      position: absolute;
      left: 52%;
      top: 48%;
      font-size: 22px;
      transform: translate(-50%, -50%);
      font-family: "Digital-7", monospace;
      > span {
        font-size: 9px;
        font-family: "Quantico", sans-serif;
      }
    }
    &::after {
      content: "";
      width: 25px;
      height: 25px;
      display: flex;
      position: absolute;
      left: -10px;
      top: -10px;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 500;
      z-index: 999;
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
        1px 1px 0 black;
      color: #ffffff;
    }
    &:nth-of-type(1)::after {
      content: "Avg";
      color: white;
      font-family: "Orbitron", sans-serif;
      font-size: 9px;
    }
    &:nth-of-type(2)::after {
      content: "Peak";
      color: white;
      font-family: "Orbitron", sans-serif;
      font-size: 9px;
    }
    &:nth-of-type(3)::after {
      content: "";
      background: url(../public/images/폭.png) no-repeat center / contain;
    }
    &:nth-of-type(4)::after {
      background: url(../public/images/온도.png) no-repeat center / contain;
    }
    &:nth-of-type(5)::after {
      background: url(../public/images/습도.png) no-repeat center / contain;
    }
  }

  .itemBg {
    width: 100%;
    height: 100%;
    font-weight: 600;
    background-color: #c0c0c0b6;
    /* background: conic-gradient(
      rgb(255, 255, 255) 0deg,
      rgb(227, 227, 227) 45deg,
      rgb(181, 180, 180) 90deg,
      rgb(152, 151, 151) 135deg,
      rgb(115, 115, 115) 180deg,
      rgb(81, 80, 80) 225deg,
      rgb(34, 34, 34) 265deg,
      rgb(255, 255, 255) 360deg
    ); */
    border-radius: 10px;
    box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.9),
      inset 2px 2px 4px rgba(255, 255, 255, 0.4);
    /* mask: radial-gradient(circle 36px at center, transparent 18px, black 28px); */
  }
}

.thumbnail {
  position: absolute;
  right: 5px;
  bottom: 2.5px;
  cursor: pointer;
}
