html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
figure,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  border: 0;
  color: inherit;
  padding: 0;
  margin: 0;
}
input {
  border: 0;
}
#root {
  background-color: var(--color--black);
}
/* ✅ 구글 폰트 불러오기  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

/* ✅ 커스텀 폰트 - Digital-7 (파일 경로는 public 기준) */
@font-face {
  font-family: "Digital-7";
  src: url("../public/fonts/digital-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ✅ 폰트 클래스 정의 */
.font-suit {
  font-family: "SUIT-Regular", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-orbitron {
  font-family: "Orbitron", sans-serif;
}

.font-quantico {
  font-family: "Quantico", sans-serif;
}

.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}

.font-rajdhani {
  font-family: "Rajdhani", sans-serif;
}
.font-digital7 {
  font-family: "Digital-7", monospace;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.76);
  position: absolute;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
